* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --btnBgColor: #292826;
  --btnColor: #f9d342;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button {
  background-color: var(--btnBgColor);
  color: var(--btnColor);
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  margin-top: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
}

h2 {
  font-size: 50px;
}
